.headerWrapper {
  width: 50%; /* match the intended header width */
  margin: 0 auto; /* centers it horizontally */
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.53);
}

/* actual header box */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 80%;
  background-color: #fff48f;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  font-size: 4rem;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #111;
}
